body {
   margin: 0;
   padding: 0;
}

.main-container h2 {
   text-align: center;
}

.form-container {
   height: 400px;
   width: 60%;
   margin: 60px auto;
   box-shadow: 0 4px 8px 0 rgba(59, 44, 44, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 5px 15px;
   background-color: whitesmoke;
}

.form-container .inputfield {
   display: block;
   height: 32px;
   width: 100%;
   text-indent: 15px;
   margin-top: 25px;
   border: 1px solid gray;
   border-radius: 10px;
}

.inputfield::placeholder {
   font-size: 14px;
   font-style: italic;
   font-weight: 500;
}

.inputfield:focus {
   outline: none;
}

.status {
   margin: 5px 0px;
}

.status input {
   height: 14px;
   width: 14px;
}

.imageUpload {
   margin-top: 25px;
}

.imageUpload label {
   display: block;
   margin: 15px 0px;
   font-size: 18px;
}


.imageUpload input {
   font-size: 14px;
   /* padding: 10px 10px; */
}

.main-status {
   margin-top: 25px;
}

.main-status label {
   font-size: 18px;
}

.status label {
   font-size: 17px;
   margin-left: 5px;
}

.para {
   color: red;
   text-align: left;
   margin: 3px 2px;


}

.submitBtn {
   display: block;
   width: 100%;
   margin-top: 25px;
   height: 32px;
   font-size: 16px;
   font-weight: 550;
   color: white;
   background-color: rgb(52, 86, 235);
   letter-spacing: 1px;
   border: none;
   cursor: pointer;
}

#loadingid {
   display: none;
   color: green;
   text-align: center;
   font-size: 22px;
}

.removeImage {
   display: none;
   color: red;
   float: right;
   margin-right: 50px;
   font-size: 18px;
   cursor: pointer;
   font-weight: 600;
}

@media screen and (max-width: 1024px) {

   .main-container {
      padding: 0px 0px;
   }

   .form-container {
      width: 90%;
   }
}

@media screen and (max-width: 768px) and (min-width: 425px) {

   .main-container {
      padding: 0px 15px
   }

   .form-container {
      width: 90%;
   }


}

@media screen and (max-width: 425px) {
   .main-container {

      padding: 0px 10px;
   }

}